@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&family=Montserrat:wght@300;400;500&family=Poppins:ital,wght@0,400;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

body,
button{
    font-family: 'Inter', sans-serif;
}

:root{
    --offcanvas-width: 270px;
    --topNavbarHight: 56px;
}

.sidebar-nav{
    width: var(--offcanvas-width);

}

@media (min-width:992px) {

    body{
        overflow: auto !important;
    }

    .offcanvas-backdrop::before {
        display: none;
    }
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top:var(--topNavbarHight);
        height: calc(100% - var(--topNavbarHight));

    }
}